<h1>Registros realizados</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Ubicación.</th>
      <th>Producto</th>
      <th>Nivel</th>
      <th>Negocio</th>
      <th>COP</th>
      <th>USD</th>
    </tr>
  </thead>
  <tbody>
    <% @registros.each do |registro| %>
    <% usd = registro.precio * 0.00036 %>
    <tr>
      <td><%= registro.updated_at%></td>
      <td><%= registro.ubicacion %></td>
      <td><%= registro.producto %></td>
      <td><%= registro.nivel %></td>
      <td><%= registro.negociacion %></td>
      <td>$<%= registro.precio %></td>
      <td>$<%= usd.to_d.truncate(2).to_f %></td>
    </tr>
    <% end %>
  </tbody>
</table>
