
<h1>Registros realizados</h1>

<%= link_to "Exportar registros", registros_path(format: "xlsx") %>

<table class="fold-table table">
  <thead>
    <tr>
      <th></th>
      <th class="hidden-xs">Fecha</th>
      <th class="hidden-xs">Ingr.</th>
      <th>Producto</th>
      <th class="hidden-xs">Dep.</th>
      <th>Pres.</th>
      <th>COP</th>
      <th class="hidden-xs">USD</th>
    </tr>
  </thead>
  <tbody>
    <% @registros.each do |registro| %>
    <% usd = registro.precio * 0.00035 %>
    <tr class="view">
      <td><%= link_to "Ver", registro_path(registro)%></td>
      <td class="hidden-xs"><%= registro.updated_at.strftime("%d/%m/%Y") %></td>
      <td class="hidden-xs"><%= Producto.find(registro.producto_id).ingrediente %></td>
      <td><%= Producto.find(registro.producto_id).marca %></td>
      <td class="hidden-xs"><%= registro.departamento %></td>
      <td><%= registro.presentacion %></td>
      <td class="cur"><%= registro.precio %></td>
      <td class="cur hidden-xs"><%= usd.to_d.truncate(2).to_f %></td>
    </tr>
    <% end %>
    <tr class="fold">
      <td colspan="7">
        <div class="fold-content">
         <p></p>
        </div>
      </td>
    </tr>
  </tbody>
</table>
