<h1>Registros realizados</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Ubic.</th>
      <th>Prod.</th>
      <th>Nivel</th>
      <th>Nego.</th>
      <th>COP</th>
      <th>USD</th>
    </tr>
  </thead>
  <tbody>
    <% @registros.each do |registro| %>
    <% usd = 2830 %>
    <tr>
      <td><%= registro.ubicacion %></td>
      <td><%= registro.producto %></td>
      <td><%= registro.nivel %></td>
      <td><%= registro.negociacion %></td>
      <td><%= registro.precio %></td>
    </tr>
    <% end %>
  </tbody>
</table>
