
<h1>Registros realizados</h1>

<%= link_to "Exportar registros", registros_path(format: "xlsx"), class: "btn btn-primary btn-sm" if current_user.admin? %>

<table class="fold-table table">
  <thead>
    <tr>
      <th></th>
      <th class="hidden-xs">Fecha</th>
      <th class="hidden-xs">Ingr.</th>
      <th>Producto</th>
      <th>Dep.</th>
      <th>Pres.</th>
      <th>COP</th>
      <th class="hidden-xs">USD</th>
    </tr>
  </thead>
<tbody>
    <% @registros.last(150).each do |registro| %>
    <% #usd = registro.precio * 0.00033 %>
      <tr class="view">
        <td><%= link_to "Ver", registro_path(registro)%></td>
        <td class="hidden-xs"><%= registro.updated_at.strftime("%d/%m/%Y") %></td>
        <td class="hidden-xs"><%= Producto.find(registro.producto_id).ingrediente %></td>
        <td><%= Producto.find(registro.producto_id).marca %></td>
        <td><%= Municipio.find(registro.municipio_id).departamento %></td>
        <td><%= registro.presentacion %></td>
        <td class="cur"><%= registro.precio %></td>
        <td class="cur hidden-xs"><%= (registro.usd.to_f * registro.precio).truncate(2) %></td>
      </tr>
    <% end %>
    <tr class="fold">
      <td colspan="7">
        <div class="fold-content">
         <p></p>
        </div>
      </td>
    </tr>
</tbody>
</table>
<%#end %>
