<h3>Registro: <%= @registro.id %>   <%= @registro.created_at.strftime"(%d/%m/%Y)"%></h3>
<%= link_to "< Mostrar registros", registros_path, class: "btn btn-primary btn-xs" %>
<% if policy(@registro).edit? %>
<%= link_to "Editar", edit_registro_path(@registro), class: "btn btn-info btn-xs"%>
<% end %>
<% if policy(@registro).destroy? %>
<%= link_to "Eliminar", registro_path(@registro), method: :delete, class: "btn btn-danger btn-xs", data: {confirm: "¿Está seguro que desea eliminar este registro?"} %>
<% end %>


<br></br>
<h4> Producto </h4>
<table class="show-table">
<tr><td>Ingrediente:</td><td class="dato"> <%= @registro.producto.ingrediente %></td></tr>
<tr><td>Producto:</td><td class="dato"> <%= @registro.producto.marca %></td></tr>
<tr><td>Formulación:</td><td class="dato"> <%= @registro.producto.formulacion %></td></tr>
<tr><td>Concentración:</td><td class="dato"> <%= @registro.producto.concentracion %></td></tr>
<tr><td>Empresa:</td><td class="dato"> <%= @registro.producto.empresa %></td></tr>
<tr><td>Origen:</td><td class="dato"> <%= @registro.producto.origen %></td></tr>
</table>

<br></br>
<h4> Ubicación </h4>
<table class="show-table">
<tr><td>Municipio:</td><td class="dato"><%= @registro.municipio.nombre_municipio %></td></tr>
<tr><td>Departamento:</td><td class="dato"> <%= @registro.municipio.departamento %></td></tr>
</table>
<br></br>
<h4> Precio </h4>
<table class="show-table">
<% usd = @registro.precio * 0.00035 %>
<tr><td>Presentación:</td><td class="dato"><%= @registro.presentacion %></td></tr>
<tr><td>Precio (COP):</td><td class="dato">$<%= @registro.precio %></td></tr>
<tr><td>Precio (USD):</td><td class="dato">$<%= usd.to_d.truncate(2).to_f %></td></tr>
<tr><td>Negociación:</td><td class="dato"> <%= @registro.negociacion %></td></tr>
<tr><td>Nivel:</td><td class="dato"> <%= @registro.nivel %></td></tr>
</table>

<br></br>
<h4> Datos de Registro </h4>
<table class="show-table">
<tr><td>Autor:</td><td class="dato"> <%= @registro.user.name %></td></tr>
<tr><td>Zona:</td><td class="dato"> <%= @registro.user.zona %></td></tr>
<tr><td>Telefono:</td><td class="dato"> <%= @registro.user.telefono %></td></tr>
<tr><td>Cargo:</td><td class="dato"> <%= @registro.user.role  %></td></tr>
<tr><td>Creado:</td><td class="dato"> <%= @registro.created_at.strftime("%d/%m/%Y (%T)") %></td></tr>
<tr><td>Modificado:</td><td class="dato"> <%= @registro.updated_at.strftime("%d/%m/%Y (%T)") %></td></tr>
</table>
<% if @registro.comentario.present? %>
<table class="show-table">
<tr><td><b>Comentario:</b> <%= @registro.comentario %></td></tr>
</table>
<% end %>
<br></br>





